@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --bg-color: #e5e2dd;
  --color1: #b2c197;
  --color2: #718366;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  height: 1400px;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 60px 150px;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
}
.container .navbar {
  height: 100%;
  border-left: 2px solid var(--color1);
  border-right: 2px solid var(--color1);
  border-top: 2px solid var(--color1);
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 999;
  border-bottom: 1px solid var(--color1);
}
.container .header .logo {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 50px;
  font-size: 25px;
  font-weight: bold;
  color: var(--color2);
}
.container .header .menu-navigation a {
  margin: 0 15px;
  color: var(--color2);
  font-size: 16px;
  font-weight: 400;
}
.container .header .contact {
  color: var(--color2);
  font-size: 16px;
  font-weight: 400;
  margin-right: 50px;
}
.hero {
  align-items: center;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-left {
  padding: 20px 50px;
}
.hero-left h2 {
  color: var(--color2);
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 700;
}
.hero-left p {
  color: var(--color2);
  margin-top: 20px;
  line-height: 20px;
  text-align: justify;
}
.work {
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: flex;
  border-top: 2px solid var(--color1);
  border-bottom: 2px solid var(--color1);
}
.work h5 {
  margin: 13px 15px;
  color: var(--color2);
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 13px;
}
.hobi {
  border-bottom: 2px solid var(--color1);
  justify-content: center;
}
.hobi p {
  margin: 13px 10px;
  color: var(--color2);
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
}
.btn {
  display: flex;
  margin-top: 25px;
}
.btn .a {
  background: var(--color1);
  padding: 16px 60px;
}
.btn .b {
  background: var(--color2);
  padding: 18px 60px;
  margin: 0 16px;
}
.hero-right {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.hero-right img {
  border-radius: 96px 64px 128px 32px;
  overflow: hidden;
  height: 80%;
  width: 50%;
  object-fit: cover;
  object-position: center;
}
.content-introdution {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}
.content-introdution h3 {
  font-size: 23px;
  color: var(--color2);
  letter-spacing: 1px;
}
.content-introdution p {
  text-indent: 20px;
  text-align: center;
  margin-top: 10px;
  color: var(--color2);
  font-weight: 300;
}
.content-about {
  height: 76vh;
  border: 2px solid var(--color1);
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-left img {
  border-right: 2px solid var(--color1);
  object-position: center;
  object-fit: cover;
  overflow: hidden;
  width: 500px;
  height: 522px;
}
.about-right {
  position: relative;
  margin: 25px 35px;
  border: 2px solid var(--color1);
}
.about-right .about span {
  align-items: center;
  text-align: center;
  padding: 17px 30px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color2);
  border-right: 2px solid var(--color1);
  display: flex;
  display: block;
  writing-mode: vertical-rl;
}
.about-right .about .aktif {
  border-bottom: 2px solid var(--color1);
  border-top: 2px solid var(--color1);
}
.about-4 {
  text-align: center;
  position: absolute;
  top: 40px;
  left: 20%;
}
.about-4 h3 {
  color: var(--color2);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}
.about-4 p {
  color: var(--color2);
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
}
